<main>
  <h1>Dashboard</h1>
  <div class="date">
    <input type="date" name="" id="">
  </div>

  <div class="insights">
    <!--                start of Sales -->
    <div class="sales">
                        <span class="material-symbols-outlined">
                        assignment
                        </span>
      <div class="middle">
        <div class="left">
          <h3>Total Assignments</h3>
          <h1 class="assign-count">25</h1>
        </div>

        <div class="progress">
          <svg>
            <circle cx='38' cy='38' r='36'></circle>
          </svg>
          <div class="number">
            <p>100%</p>
          </div>
        </div>

      </div>
      <small class="text-muted"> 09 / 2023 </small>

    </div>
    <!--            End of sales -->
    <!--                start of Expenses -->
    <div class="expenses">
                        <span class="material-symbols-outlined">
                        check_small
                        </span>
      <div class="middle">
        <div class="left">
          <h3>Completed Assignments</h3>
          <h1 class="assign-count">17</h1>
        </div>

        <div class="progress">
          <svg>
            <circle cx='38' cy='38' r='36'></circle>
          </svg>
          <div class="number">
            <p>62%</p>
          </div>
        </div>

      </div>
      <small class="text-muted"> 09 / 2023 </small>

    </div>
    <!--            End of expenses -->
    <!--                start of income -->
    <div class="income">
                        <span class="material-symbols-outlined">
                        model_training
                        </span>
      <div class="middle">
        <div class="left">
          <h3>Pending Assignments</h3>
          <h1 class="assign-count">8</h1>
        </div>

        <div class="progress">
          <svg>
            <circle cx='38' cy='38' r='36'></circle>
          </svg>
          <div class="number">
            <p>65%</p>
          </div>
        </div>

      </div>
      <small class="text-muted"> 09 / 2023 </small>

    </div>
    <!--            End of income -->

  </div>
  <!--            End of insights -->

  <!--        start assignment table -->
  <div class="recent-orders">
    <table>
      <thead>
      <tr>
        <th>Assignment name</th>
        <th>Assignment Number</th>
        <th>Date created</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>

      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>

      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>

      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>

      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>

      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>

      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>


      </tbody>
    </table>
    <a href="#" >Show All</a>
  </div>


</main>
