<div class="right">

  <!--        Start Top Section-->

  <div class="top">
    <!--            <button id="menu-btn">-->
    <!--                <span class="material-icon-sharp">Menu</span>-->
    <!--            </button>-->

    <div class="theme-toggler">
                    <span class="material-symbols-outlined active">
                         light_mode
                    </span>
      <span class="material-symbols-outlined">
                         dark_mode
                    </span>
    </div>

    <div class="profile">
      <div class="info">
        <p>Hey , <b>Wael</b></p>
        <small class="text-muted">Admin</small>
      </div>
      <div class="profile-photo">
        <img src="assets/profile_pic.jpg" alt="profile_photo">
      </div>
    </div>

  </div>

  <!--        End Top section -->

  <div class="recent-updates">
    <div class="head-up">
                <span class="material-symbols-outlined">
            update
            </span>
      <h2>Recent updates</h2>
    </div>
    <div class="updates">
      <div class="update">
        <div class="profile-photo">
          <img src="assets/prof1.jpg" alt="">
        </div>
        <div class="message">
          <p><b>Hamza Bouajila</b> invited you to work for an assignment . </p>
          <small class="text-muted">
            2 minutes ago  . . .
          </small>
        </div>
      </div>
      <div class="update">
        <div class="profile-photo">
          <img src="assets/prof2.jpeg" alt="">
        </div>
        <div class="message">
          <p><b>Hichem Ajina</b> invited you to work for an assignment . </p>
          <small class="text-muted">
            25 minutes ago  . . .
          </small>
        </div>
      </div>
      <div class="update">
        <div class="profile-photo">
          <img src="assets/prof3.jpg" alt="">
        </div>
        <div class="message">
          <p><b>Khalil letaief</b> invited you to work for an assignment . </p>
          <small class="text-muted">
            50 minutes ago  . . .
          </small>
        </div>
      </div>
      <a href="#" class="more">More ..</a>

    </div>
  </div>

  <!--        Start Analytics -->

  <div class="sales-analytics">
    <div class="head-up">
                <span class="material-symbols-outlined">
                monitoring
                </span>
      <h2>User Analytics</h2>
    </div>
    <div class="item online">
      <div class="icon">
                    <span class="material-symbols-outlined">
                    assignment
                    </span>
      </div>
      <div class="right">
        <div class="info">
          <h3>online Assignments</h3>
          <small class="text-muted">Last 24 Hours</small>
        </div>
        <h5 class="success">+39%</h5>
        <h3>3652</h3>
      </div>
    </div>

    <div class="item offline">
      <div class="icon">
                    <span class="material-symbols-outlined">
                    assignment
                    </span>
      </div>
      <div class="right">
        <div class="info">
          <h3>offline Assignments</h3>
          <small class="text-muted">Last 24 Hours</small>
        </div>
        <h5 class="danger">-63%</h5>
        <h3>1100</h3>
      </div>
    </div>

    <div class="item Students">
      <div class="icon">
                    <span class="material-symbols-outlined">
                    assignment
                    </span>
      </div>
      <div class="right">
        <div class="info">
          <h3>new Students</h3>
          <small class="text-muted">Last 24 Hours</small>
        </div>
        <h5 class="success">+25%</h5>
        <h3>5062</h3>
      </div>
    </div>
  </div>


</div>
